# 忽略数据集
unit1/huggan/smithsonian_butterflies_subset/
unit1/mnist/MNIST/
unit2/huggan/
unit2/mnist/MNIST/

# 忽略模型文件
unit1/my_pipeline/
unit2/google/
unit2/my-finetuned-model/
unit2/OFA-Sys/
unit3/stabilityai